body{
    display: flex;
    justify-content: center;
    background-image: url('bgv2.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: url('Normal.cur'), auto;
}

a{
    cursor: url('hand.cur'),auto;);
}



@font-face {
    font-family: 'connection';
    src: url('fonts/connectionii-webfont.woff2') format('woff2'),
    url('connectionii-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'kgsummer';
    src: url('fonts/kgsummersunshineshadow-webfont.woff2') format('woff2'),
    url('fonts/kgsummersunshineshadow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kgsummer';
    src: url('fonts/kgsummersunshineshadow-webfont.woff2') format('woff2'),
    url('fonts/kgsummersunshineshadow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h3{
    font-family: "connection";
    font-size: 2em;
}

p{
    font-family: 'robotoregular';
}

p a{
    color: #000000;
}

p a:hover{
    color: #6FB094;
    cursor: url('hand.cur'),auto;)
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr -0.5fr 0.5fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 5 / 1 / 5 / 2; }

.Grid {
    display: flex;
}

.Grid-cell {
    flex: 1;
}
svg{
    width: 100%;
    height: auto;
}
.socials{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}
.socials a{
    text-decoration: none;
}


/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(111,176,148,1) 0%, rgba(119,180,160,1) 10%, rgba(174,209,255,1) 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(63deg, rgba(254,129,122,1) 0%, rgba(249,226,149,1) 100%);
}




/* TV */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; overflow: hidden;
    max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed {
        position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/* radio */
.radio-player-widget .now-playing-details{
    display: none !important;
}
.page-minimal {
    display: flex;
    justify-content: flex-start !important;
}

.livenow{
    margin-bottom: 2px;
}

.live-now-circle {
    display: inline-block;
    position: relative;
    top: 1px;
    width: 8px;
    height: 8px;
    margin-left: 2px;
    background-color: #e81717;
    opacity: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

/* Internet Radio Backlink */
.footer {
    text-align: center;
    margin-top: 100px;
    opacity: 0.1;
}
.footer:hover {
    opacity: 1;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
